<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-screen h-screen bg-black grid place-content-center select-none text-[#5bff85]">
      <div>
        <div class="px-4">
            <span class="text-5xl">choose what you want. on the house.</span>
        </div>

        <div class="grid grid-cols-4 gap-4 text-2xl pt-2 px-4">
        {% for item in items %}
        {% if item.in_stock %}
        <a href="{{ url_for('redirect_to_code', item=loop.index0) }}">
          <div class="border-2 border-[#5bff85] grid grid-flow-row justify-items-center p-2 text-center h-56">
            <img src="{{ item.image_url }}" alt="{{ item.name }}" width="140">
            <strong>{{ item.name }}</strong>
            <span class="in-stock text-green-500">In Stock</span>
          </div>
        </a>
        {% else %}
        <div class="border-2 border-[#5bff85] grid grid-flow-row justify-items-center p-2 text-center h-56">
            <img src="{{ item.image_url }}" alt="{{ item.name }}" width="140">
            <strong>{{ item.name }}</strong>
            <span class="out-of-stock text-red-500">Out of Stock</span>
        </div>
        {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js" integrity="sha512-zN6KYOtONNTOGXz0RkWX2EpavN9VdIs+2w+To+fhciFv83YA9maUpi2lzZWrOfKXdFIZZomWufBznkyHi3a8oQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      const socket = io();

      socket.on('redirect_to_code', function(data) {
        const itemIndex = data.item;
        console.log("Redirecting to code for item:", itemIndex);
        window.location.href = `/redirect-to-code?item=${itemIndex}`;
      });
    </script>
  </body>
</html>
