<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-screen h-screen bg-black grid place-content-center select-none text-[#5bff85]">
      <div>
        <h1 class="text-5xl font-bold">
          the inconvienent vending machine.
        </h1>

        <form action="{{ url_for('redirect_to_catalog') }}" method="post">
          <button class="border-4 text-3xl border-solid border-[#5bff85] font-bold text-[#5bff85] p-3 mt-5">
            view what's in stock.
          </button>
        </form>
      </div>
    </div>
  </body>
</html>